{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'mdb/css/bootstrap.min.css' %} " rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'mdb/css/mdb.min.css' %} " rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'mdb/css/style.css' %}" rel="stylesheet">

</head>

<body>
    {% include 'core/navbar.html' %}
    <main class="mt-5 pt-5">
        <div class="container">

            


            
            {% block content%}
            {% endblock %} 
        </div>
    </main>
   

    {%include 'core/footer.html'%}
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'mdb/js/jquery-3.4.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'mdb/js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'mdb/js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'mdb/js/mdb.min.js' %}"></script>
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();

    </script>
</body>

</html>